.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.banner__foto {
    width: 230px;
}

.banner__infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.apresentacao__chamada,
.apresentacao__nome {
    font-size: var(--titulo-mobile);
    font-weight: var(--peso-bold);
}

.apresentacao__chamada {
    color: var(--branco);
}

.apresentacao__nome {
    color: var(--vermelho);
}

.apresentacao__cargo {
    color: var(--branco);

    font-size: var(--texto-mobile);
    font-weight: var(--peso-normal);
}

.banner__botoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.botoes__contatos {
    display: flex;
    gap: 24px;
}

.curriculo {
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    border-radius: 8px;
    background: var(--vermelho, #F64348);
    box-shadow: 2px 2px 4px 0px rgba(245, 245, 245, 0.25);

    font-size: var(--texto-destaque);
    font-weight: var(--peso-bold);
}

@media screen and (min-width: 768px) {
    .banner {
        gap: 32px;
    }

    .banner__foto {
        width: 300px;
    }

    .apresentacao__chamada,
    .apresentacao__nome {
        font-size: var(--titulo-tablet);
    }

    .apresentacao__cargo {
        font-size: var(--texto-tablet);
    }

    .banner__infos {
        gap: 32px;
    }

    .contato img {
        width: 64px;
    }

    .curriculo {
        font-size: var(--destaque-tablet);
        height: 41px;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 90%;
        max-width: 1024px;

        height: calc(100vh - 138px);
    }
}