.certificados,
.certificados__lista {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.certificados__titulo {
    font-size: var(--titulo-mobile);
    font-weight: var(--peso-bold);

    color: var(--azul-claro);

    margin-bottom: 16px;
}

.certificado__link {
    display: flex;
    align-items: center;
    gap: 16px;
}

.certificado__titulo {
    font-size: var(--texto-destaque);
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .certificados {
        align-items: center;
    }
}