.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--preto);

    padding: 8px 16px;
}

.cabecalho__botoes {
    display: flex;
    align-items: center;
}

.cabecalho__titulo {
    color: var(--branco);
    font-size: var(--titulo-mobile);
    font-weight: 700;
}

.fa-bars {
    color: var(--azul-claro);
    font-size: 1em;
}

.fa-bars:hover {
    color: var(--vermelho);
    cursor: pointer;
}

.navegacao {
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 16px 40px;
    }

    .cabecalho__titulo {
        font-size: var(--titulo-tablet);
    }

    .fa-bars {
        font-size: 26px;
    }
}