.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    width: 100vw;

    background-color: var(--preto);

    padding: 8px 16px;
}

.cabecalho__titulo {
    color: var(--azul-claro);
    font-size: var(--titulo-mobile);
    font-weight: 700;
}

.fa-bars {
    color: var(--azul-claro);
    font-size: 1em;
    transition: 500ms;
}

.navegacao {
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 16px 40px;
    }

    .cabecalho__titulo {
        display: none;
    }

    .fa-bars {
        display: none;
    }

    .navegacao {
        display: block;
    }

    .navegacao__item {
        display: inline;

        color: var(--azul-claro);
        font-size: 1em;
        font-weight: bold;

        transition: 500ms;
        margin: .5em;
    }

    .navegacao__item:hover {
        color: var(--vermelho);
    }
}