.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    width: 100vw;

    background-color: var(--preto);

    padding: 8px 16px;

    z-index: 4;
}

.cabecalho__titulo {
    color: var(--azul-claro);
    font-size: var(--titulo-mobile);
    font-weight: 700;
}

.fa-bars {
    color: var(--azul-claro);
    font-size: 1em;
    transition: 500ms;
}

.navegacao {
    display: none;
}

.menubar--ativo {
    position: absolute;
    right: 0;
    top: 49px;

    width: 130px;
    padding: 10px;

    color: var(--azul-claro);


    background-color: var(--preto);
}

.navegacao__lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navegacao__item {
    display: inline;

    color: var(--azul-claro);
    font-size: 1em;
    font-weight: bold;

    transition: 500ms;
}

.navegacao__item:hover {
    color: var(--vermelho);
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 16px 40px;
    }

    .cabecalho__titulo {
        display: none;
    }

    .fa-bars {
        display: none;
    }

    .navegacao {
        display: block;
    }
}