.projetos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: baseline;

    width: 100%;
}

.projetos__titulo {
    font-size: var(--titulo-mobile);
    font-weight: var(--peso-bold);

    color: var(--azul-claro);
}

.projetos__carrossel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.carrossel__projeto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto__imagem {
    position: relative;
    border-radius: 8px;

    /* filter: opacity(.6); */
}

.projeto__infos {
    position: absolute;
    width: 212px;
    height: 146px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.8);
    border-radius: 8px;
}

.info__titulo {
    font-size: var(--titulo-mobile);
    font-weight: var(--peso-bold);
    color: var(--vermelho);
}

.infos__tecnologias {
    display: flex;
    justify-content: center;
    width: 146px;
    gap: 24px;
}

.tecnologia__icone img {
    width: 24px;
}