.projetos {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 100%;
    max-width: 1024px;
}

.projetos__titulo {
    font-size: var(--titulo-mobile);
    font-weight: var(--peso-bold);

    color: var(--azul-claro);
}

.carrossel {
    height: auto;
    position: relative;
}

.swiftleft,
.swiftright {
    text-align: center;
    font-size: 25px;
    line-height: 146px;

    cursor: pointer;

    background-color: #00000062;

    width: 45px;
    height: 146px;
    top: 36px;
    z-index: 3;
}

.swiftleft {
    position: absolute;
    left: -45px;
    border-radius: 8px 0 0 8px;
}

.swiftright {
    position: absolute;
    right: -45px;
    border-radius: 0 8px 8px 0;
}

.projetos__carrossel {
    position: relative;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 36px 8px;
}

.projetos__carrossel--none {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 36px;
    margin-bottom: 16px;
}

.carrossel__projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    z-index: 2;

    position: relative;
}

.carrossel__projeto:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 3;
}

.carrossel__projeto:hover .ver-mais {
    bottom: -25px;
}

.carrossel__projeto:hover .projeto__infos {
    opacity: 0;
}

.projeto__imagem {
    position: relative;
    border-radius: 8px 8px 0 0;
    width: 212px;
    height: 146px;
}

.projeto__infos {
    position: absolute;
    width: 212px;
    height: 146px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, .8);
    border-radius: 8px 8px 0 0;
}

.info__titulo {
    font-size: var(--titulo-mobile);
    font-weight: var(--peso-bold);
    color: var(--vermelho);
    max-width: 160px;
    text-wrap: wrap;
}

.infos__tecnologias {
    display: flex;
    justify-content: center;
    width: 146px;
    gap: 24px;
}

.tecnologia__icone img {
    width: 24px;
}

.ver-mais {
    position: absolute;
    bottom: 0;

    background-color: var(--vermelho);
    border-radius: 0 0 8px 8px;

    font-size: 12px;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: 0.5s ease;

    z-index: -1;
}

.btn-ver-todos {
    background-color: var(--vermelho);
    color: var(--branco);
    border-radius: 16px;

    font-weight: 400;

    width: fit-content;
    padding: 0 16px;

    align-self: center;

    cursor: pointer;
    transition: 500ms;
}

.btn-ver-todos:hover {
    color: var(--azul-claro);
    font-size: 18px;
    
}



@media screen and (min-width: 768px) {
    .projetos {
        text-align: center;
    }

    .projetos__titulo {
        font-size: var(--titulo-tablet);
    }
}



/* funcionalidade - ver mais projetos ativo 

    .swiftleft,
    .swiftright {
        display: none;
    }
    
    
*/