.sobre__titulo {
    margin-bottom: 32px;

    color: var(--azul-claro);

    font-size: var(--titulo-mobile);
    font-weight: var(--peso-bold);
}

.sobre__conteudo {
    font-size: var(--texto-mobile);
    font-weight: var(--peso-normal);
}

@media screen and (min-width: 820px) {
    .sobre__titulo {
        font-size: var(--titulo-tablet);
        text-align: center;
    }
    
    .sobre__conteudo {
        font-size: var(--texto-tablet);
        text-align: center;
    }
}