@import url(Header.css);
@import url(Banner.css);
@import url(sobre.css);
@import url(projetos.css);
@import url(habilidades.css);

:root {
    --roxo: #1A1C36;
    --branco: #f0f0f0;
    --preto: #2A2A2A;
    --azul-claro: #A7B5C4;
    --vermelho: #F64348;
    --vermelho-hover: #822221;


    --fonte: 'Poppins', sans-serif;

    --titulo-mobile: 22px;
    --texto-mobile: 16px;
    --texto-destaque: 18px;

    --peso-normal: 400;
    --peso-bold: 700;
}

body {
    font-family: var(--fonte);
}

main {
    background-color: var(--roxo);
    color: var(--branco);

    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;

    padding: 24px 16px;
}