:root {
    --branco: #FFFFFF;
    --preto: #020202;
    --azul-claro: #A7B5C4;
    --vermelho-claro: #F64348;
    --vermelho-escuro: #822221;


    --fonte: Poppins;

    --titulo-mobile: 22px;
    --texto-mobile: 16px;
    --texto-destaque: 18px;

    --peso-normal: 400;
    --peso-bold: 700;
}